@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9800 0.0050 48.9980);
  --foreground: oklch(0.5000 0.0978 48.9980);
  --card: oklch(0.9600 0.0100 48.9980);
  --card-foreground: oklch(0.5000 0.0978 48.9980);
  --popover: oklch(0.9600 0.0100 48.9980);
  --popover-foreground: oklch(0.5000 0.0978 48.9980);
  --primary: oklch(0.5550 0.1630 48.9980);
  --primary-foreground: oklch(0.9800 0.0489 48.9980);
  --secondary: oklch(0.9200 0.0163 48.9980);
  --secondary-foreground: oklch(0.5000 0.0978 48.9980);
  --muted: oklch(0.9200 0.0163 48.9980);
  --muted-foreground: oklch(0.5000 0.0489 48.9980);
  --accent: oklch(0.9200 0.0163 48.9980);
  --accent-foreground: oklch(0.5000 0.0978 48.9980);
  --destructive: oklch(0.5000 0.1500 78.9980);
  --border: oklch(0.9000 0.0098 48.9980);
  --input: oklch(0.9000 0.0098 48.9980);
  --ring: oklch(0.7000 0.0489 48.9980);
  --chart-1: oklch(0.8050 0.0244 48.9980);
  --chart-2: oklch(0.6800 0.0937 48.9980);
  --chart-3: oklch(0.5550 0.1630 48.9980);
  --chart-4: oklch(0.3800 0.2037 48.9980);
  --chart-5: oklch(0.2050 0.2445 48.9980);
  --sidebar: oklch(0.9800 0.0050 48.9980);
  --sidebar-foreground: oklch(0.5000 0.0978 48.9980);
  --sidebar-primary: oklch(0.5550 0.1630 48.9980);
  --sidebar-primary-foreground: oklch(0.0200 0.0978 48.9980);
  --sidebar-accent: oklch(0.9200 0.0163 48.9980);
  --sidebar-accent-foreground: oklch(0.5000 0.0978 48.9980);
  --sidebar-border: oklch(0.9000 0.0098 48.9980);
  --sidebar-ring: oklch(0.7000 0.0489 48.9980);

  --font-sans: Lato, sans-serif;
  --font-serif: Merriweather, Geist, Geist Fallback, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Roboto Mono, Geist Mono, Geist Mono Fallback, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --radius: 1rem;

  --shadow-2xs: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.02);
  --shadow-xs: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.02);
  --shadow-sm: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.04), 0px 1px 2px -1px oklch(0.35 0.05 163.02 / 0.04);
  --shadow: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.04), 0px 1px 2px -1px oklch(0.35 0.05 163.02 / 0.04);
  --shadow-md: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.04), 0px 2px 4px -1px oklch(0.35 0.05 163.02 / 0.04);
  --shadow-lg: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.04), 0px 4px 6px -1px oklch(0.35 0.05 163.02 / 0.04);
  --shadow-xl: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.04), 0px 8px 10px -1px oklch(0.35 0.05 163.02 / 0.04);
  --shadow-2xl: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.10);
  --destructive-foreground: oklch(0.0200 0.0978 48.9980);
  --header: oklch(0.9800 0.0050 48.9980);
  --header-foreground: oklch(0.5000 0.0978 48.9980);
  --footer: oklch(0.9800 0.0050 48.9980);
  --footer-foreground: oklch(0.5000 0.0978 48.9980);
  --code: oklch(0.9800 0.0050 48.9980);
  --code-foreground: oklch(0.5000 0.0978 48.9980);
  --code-highlight: oklch(0.7550 0.0100 48.9980);
  --code-number: oklch(0.6550 0.0326 48.9980);
  --code-selection: oklch(0.9600 0.0100 48.9980);
  --code-border: oklch(0.9000 0.0098 48.9980);

}

.dark {
  --background: oklch(0.1800 0.0056 45.9040);
  --foreground: oklch(0.8500 0.0100 45.9040);
  --card: oklch(0.2300 0.0100 45.9040);
  --card-foreground: oklch(0.8500 0.0100 45.9040);
  --popover: oklch(0.2300 0.0100 45.9040);
  --popover-foreground: oklch(0.8500 0.0100 45.9040);
  --primary: oklch(0.4140 0.1120 45.9040);
  --primary-foreground: oklch(0.9800 0.0336 45.9040);
  --secondary: oklch(0.2800 0.0168 45.9040);
  --secondary-foreground: oklch(0.8500 0.0100 45.9040);
  --muted: oklch(0.2800 0.0168 45.9040);
  --muted-foreground: oklch(0.8500 0.0224 45.9040);
  --accent: oklch(0.2800 0.0168 45.9040);
  --accent-foreground: oklch(0.8500 0.0100 45.9040);
  --destructive: oklch(0.3000 0.1500 75.9040);
  --border: oklch(0.2600 0.0080 45.9040);
  --input: oklch(0.2600 0.0080 45.9040);
  --ring: oklch(0.4640 0.0448 45.9040);
  --chart-1: oklch(0.8915 0.0336 45.9000);
  --chart-2: oklch(0.6660 0.1790 58.3180);
  --chart-3: oklch(0.4140 0.1120 45.9040);
  --chart-4: oklch(0.2820 0.1400 45.9040);
  --chart-5: oklch(0.1845 0.1680 45.9000);
  --sidebar: oklch(0.2300 0.0100 45.9040);
  --sidebar-foreground: oklch(0.8500 0.0100 45.9040);
  --sidebar-primary: oklch(0.4140 0.1120 45.9040);
  --sidebar-primary-foreground: oklch(0.8500 0.0100 45.9040);
  --sidebar-accent: oklch(0.2800 0.0168 45.9040);
  --sidebar-accent-foreground: oklch(0.8500 0.0100 45.9040);
  --sidebar-border: oklch(0.2600 0.0080 45.9040);
  --sidebar-ring: oklch(0.4640 0.0448 45.9040);

  --shadow-2xs: 0px 1px 2px 0px oklch(0 0 0 / 0.01);
  --shadow-xs: 0px 1px 2px 0px oklch(0 0 0 / 0.01);
  --shadow-sm: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow-md: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 2px 4px -1px oklch(0 0 0 / 0.01);
  --shadow-lg: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 4px 6px -1px oklch(0 0 0 / 0.01);
  --shadow-xl: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 8px 10px -1px oklch(0 0 0 / 0.01);
  --shadow-2xl: 0px 1px 2px 0px oklch(0 0 0 / 0.03);
  --destructive-foreground: oklch(0.8500 0.0100 45.9040);
  --header: oklch(0.1800 0.0056 45.9040);
  --header-foreground: oklch(0.8500 0.0100 45.9040);
  --footer: oklch(0.1800 0.0056 45.9040);
  --footer-foreground: oklch(0.8500 0.0100 45.9040);
  --code: oklch(0.2300 0.0100 45.9040);
  --code-foreground: oklch(0.8500 0.0100 45.9040);
  --code-highlight: oklch(0.2140 0.0100 45.9040);
  --code-number: oklch(0.3140 0.0168 45.9040);
  --code-selection: oklch(0.1800 0.0056 45.9040);
  --code-border: oklch(0.2600 0.0080 45.9040);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-display-family: var(--display-family);
  --font-display-weight: 300;
  --font-display-tracking: normal;
  --font-body-family: var(--body-family);
  --font-body-weight: 300;
  --font-body-tracking: normal;
  --color-code-border: var(--code-border);
  --color-code-selection: var(--code-selection);
  --color-code-number: var(--code-number);
  --color-code-highlight: var(--code-highlight);
  --color-code-foreground: var(--code-foreground);
  --color-code: var(--code);
  --color-footer-foreground: var(--footer-foreground);
  --color-footer: var(--footer);
  --color-header-foreground: var(--header-foreground);
  --color-header: var(--header);
  --color-destructive-foreground: var(--destructive-foreground);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility font-display {
    font-family: var(--font-display-family);
    font-weight: var(--font-display-weight);
    letter-spacing: var(--font-display-tracking);

}

@utility font-body {
    font-family: var(--font-body-family);
    font-weight: var(--font-body-weight);
    letter-spacing: var(--font-body-tracking);

}